<ion-content class="fundo" [fullscreen]="true">
  <div class="espaco">
    <ion-row style="margin-top: 235px">
      <ion-label position="floating">Petshop</ion-label>
      <ion-input type="text" expand="block" style="color: rgb(50, 50, 155)">
      </ion-input>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating"
            >Nome <span style="color: red">*</span></ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="****"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating"
            >Idade <span style="color: red">*</span></ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="****"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
